.tiptap {
    padding: 0.5% 3%;
    border-top: 1px solid gray;
    border-radius: 0 0 0.5% 0.5%;
    background: whitesmoke;
    font-family: 'Segoe UI';
    font-size: 15px;
}

.tiptap > * + * {
    margin-top: 0.75em;
}

.tiptap h1 {
    line-height: 1.5;
}

.tiptap h2 {
    line-height: 1.5;
}

.tiptap h3 {
    line-height: 1.5;
}

.tiptap h4 {
    line-height: 1.5;
}

.tiptap h5 {
    line-height: 1.5;
}

.tiptap h6 {
    line-height: 1.5;
}

.tiptap ul {
    padding: 0 1rem;
}

.tiptap ol {
    padding: 0 1rem;
}

.tiptap pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.tiptap pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.tiptap img {
    max-width: 100%;
    height: auto;
}

.tiptap blockquote {
    padding-left: 1rem;
    border-left: 2px solid #9C9C9C;
    opacity: 0.9;
}

button.is-active{
    background-color: rgb(197, 197, 197);
    border-radius: 2px;
    color: #003466;
}

@media(min-width: 768px){
    .tiptap {
        font-size: 20px;
    }
}